*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
body{
    background:#f3e3b2;

}
.number{
    font-size:36px;
    padding: 350px;
    color:#141e4d ;
    text-align: center;
}